<template>
    <div id="login" class="col-xs-10 col-xs-offset-1">
        <div class="col-xs-4 col-xs-offset-4">    
            <h4>Bienvenido</h4>
        </div>    
        <div class="col-xs-12">
            <img src="./assets/logo.png" width="80">
            <br>
            <router-link to="/">Inicio</router-link>
            <a @click="logout()" style="cursor:pointer" >Logout</a>

            <hr>

            <br>
            <ul>
                <router-link to="/users"><li>Administración de Usuarios</li></router-link>
                <router-link to="/products"><li>Administración de Productos</li></router-link>
                <router-link to="/charts"><li>Reportes</li></router-link>
            </ul>      

    
            <router-view></router-view>
        </div>
    </div>
</template>
<script>
export default {
  
    mounted: function(){

        if(!window.hasSession){
            this.$router.push('/login');
        }

    },
    methods: {

        logout (){
            
            window.hasSession = false;
            this.$router.replace('/');
            window.location.reload();

        }

    }

}
</script>
