<template>
    <div id="login" class="col-xs-10 col-xs-offset-1">
        <h3>Iniciar Sesión</h3>
        <div class="col-xs-4 col-xs-offset-4">
            <div v-if="hasError">
                <p class="text-danger">Usuario y/o password incorrecto</p>    
            </div>    
            <form @submit.prevent="login()">
                <div class="form-group">
                    <label for="username">Nombre de Usuario</label>
                    <input class="form-control" type="text" id="username" v-model="username" placeholder="Nombre de Usuario">
                </div>
                <div class="form-group">    
                    <label for="password">Contraseña</label>
                    <input class="form-control" type="password" id="password" v-model="password" placeholder="Contraseña">
                </div>    
                <div class="form-group">    
                    <button class="btn btn-success">Iniciar Sesión</button>
                </div> 
            </form>
        </div>  
        <div> {{mensaje}} </div>  
    </div>
</template>

<script>

import axios from 'axios'
export default {
    
    data () {
        return {
            hasError: false,
            mensaje: '',
            username: '',
            password: ''
            
        }
    },
    mounted (){

        if(window.hasSession){
            this.$router.push('/');
        }
        
    },
    methods: {
        login () {
            //this.$router.push('/');
            //console.log(this.username, this.password);

            axios.post('http://localhost:3000/hola', {username : this.username, password : this.password}).then((response) => {
                window.hasSession = true;
               // console.log(response)
                this.$router.push('/');
            }).catch((error) => {
                this.hasError = true
            })
        }
        
    }
    
}
</script>
