<template>
    <div>
        <div id="login" class="col-xs-10 col-xs-offset-1">
        <h3>nuevo usuario</h3>
        <div class="col-xs-4 col-xs-offset-4">   
            <form @submit.prevent="newUser()">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input class="form-control" type="text" id="nombre" v-model="nombre" placeholder="Nombre">
                </div>
                <div class="form-group">
                    <label for="apellidos">Apellidos</label>
                    <input class="form-control" type="text" id="apellidos" v-model="apellidos" placeholder="Apellidos">
                </div>
                <div class="form-group">
                    <label for="username">Nombre de Usuario</label>
                    <input class="form-control" type="text" id="username" v-model="username" placeholder="Nombre de Usuario">
                </div>
                <div class="form-group">    
                    <label for="password">Contraseña</label>
                    <input class="form-control" type="password" id="password" v-model="password" placeholder="Contraseña">
                </div>  
                <div class="form-group">    
                    <label for="email">Correo Electrónico</label>
                    <input class="form-control" type="email" id="email" v-model="email" placeholder="Correo Electrónico">
                </div> 
                <div class="form-group">    
                    <label for="telefono">Telefono</label>
                    <input class="form-control" type="text" id="telefono" v-model="telefono" placeholder="Telefono">
                </div>  
                <div class="form-group">    
                    <label for="tipoUsuario">Tipo de Usuario</label>
                    <select class="form-control" id="tipoUsuario" v-model="tipoUsuario">
                        <option value="Admin">Administrador</option>
                        <option value="Customer">Cliente</option>
                        <option value="Employee">Empleado</option>
                    </select>    
                </div>  
                <div class="form-group">    
                    <label for="dr">Dato random</label>
                    <input class="form-control" type="text" id="dr" v-model="dr" placeholder="Telefono">
                </div>  
                <div class="form-group">    
                    <button class="btn btn-success">Crear</button>
                </div> 
            </form>
        </div>   
    </div>
    </div>
</template>
<script>
import axios from 'axios'
export default {
  data () {
        return {
            nombre: '',
            apellidos: '',
            username: '',
            password: '',
            email: '',
            telefono: '',
            tipoUsuario: '',
            dr: ''

            
        }
    },
    mounted (){

        if(!window.hasSession){
            this.$router.push('/login');
        }
        
    },
    methods: {
        newUser () {
            //this.$router.push('/');
            //console.log(this.username, this.password);

            axios.post('http://localhost:3000/api/usuarios', {
                nombre: this.nombre, 
                apellidos: this.apellidos,
                username : this.username, 
                password : this.password,
                email: this.email,
                telefono: this.telefono,
                tipoUsuario: this.tipoUsuario,
                dr: this.dr
                }).then((response) => {
                window.hasSession = true;
                console.log(response)
                this.$router.push('/');
            }).catch((error) => {
                this.hasError = true
            })
        }
        
    }
}
</script>
