<template>
    <div class="col-xs-12">
        <h3>Administración de Productos</h3>
        <div class="col-xs-4 col-xs-offset-4">
        <table  class="table table-striped">
            <tr v-for="(item) in items" :key="item.id">
                <td>
                    {{ item.id }} 
                </td>
                <td>
                    {{ item.nombre }}
                </td>
            </tr>
        </table>    
    </div>
        
        
    </div>
</template>
<script>
export default {
  data(){
     return {
         items: [
            { id: 1, nombre: 'Impresora HP' },
            { id: 2, nombre: 'Telefono Panasonic' },
            { id: 3, nombre: 'Notebook HP' },
            { id: 4, nombre: 'Mouse HP' },
            { id: 5, nombre: 'Computador LG' }
        ]
     }

  }
}
</script>