<template>
    <div class="col-xs-4 col-xs-offset-4">
        <h3 class="textcenter">Editar Usuario</h3>
        <form @submit.prevent="update(usuario._id)">

            <div >
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" v-model="usuario.nombre" name="nombre" id="nombre" class="form-control">
                </div>
                <div class="form-group">
                    <label for="apellidos">Apellidos</label>
                    <input type="text" v-model="usuario.apellidos" name="apellidos" id="apellidos" class="form-control">
                </div>
                <div class="form-group">
                    <label for="username">Nombre de Usuario</label>
                    <input type="text" v-model="usuario.username" name="username" id="username" class="form-control">
                </div>
                <div class="form-group">
                    <label for="email">Correo Electrónico</label>
                    <input type="email" v-model="usuario.email" name="email" id="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="telefono">Telefono</label>
                    <input type="text" v-model="usuario.telefono" name="telefono" id="telefono" class="form-control">
                </div>
                <div class="form-group">
                    <label for="dr">Dato Random</label>
                    <input type="text" v-model="usuario.dr" name="dr" id="dr" class="form-control">
                </div>
                <div class="form-group">
                    <button class="btn btn-success">Actualizar</button>
                </div>
            </div>

        </form>
        
    </div>
</template>
<script>
import axios from 'axios'
export default {
  data(){
      return {
         usuario: {
             nombre: '',
             apellidos: '',
             usuario: '',
             email: '',
             telefono: '',
             dr: ''
         },
         
     }

  },
  mounted(){
      var id = this.$route.params.id
      axios.get('http://localhost:3000/api/usuarios/'+id).then((response) => {
          this.usuario = response.data;
          console.log(this.usuario)
      }).catch((err) => {
          console.log(err)
      })
  },
  methods: {
      update(id){
          console.log(this)
          axios.put('http://localhost:3000/api/usuarios/'+id,{

              nombre: this.nombre,
              apellidos: this.apellidos,
              usuario: this.usuario,
              email: this.email,
              telefono: this.telefono,
              dr: this.dr

          }

             



          ).then((response) => {
              console.log(response)

          }).catch((err) => {

              console.log(err)
          })

      }
  }
}
</script>
