<template>
    <div class="col-xs-12">
        <h3>Administración de usuarios</h3>
        <div class="col-xs-8 col-xs-offset-2">
            <router-link to="/users/new"><li>Nuevo Usuario</li></router-link>
            <hr>
          
            <table class="table table-striped table-hover table-bordered" v-for="item in items" :key="item._id">
                <tr>
                    
                    <td>
                        {{ item.nombre }} {{ item.apellidos }}
                    </td>
                    <td>
                        {{ item.username }} 
                    </td>
                    <td>
                        {{ item.email }} 
                    </td>
                    <td>
                        <router-link class="btn btn-sm btn-success" v-bind:to="'/users/editar/'+item._id"><li>Editar</li></router-link>
                    </td> 
                    <td>
                        <form @submit.prevent="eliminar(item._id)"><button class="btn btn-danger btn-sm">Eliminar</button></form>
                    </td>
                       
                </tr>
            </table>    
        </div>
        
        
    </div>
</template>
<script>
import axios from 'axios'
export default {
  data(){
     return {
         items: [],
         id: ''
     }

  },
  mounted() {

        axios.get('http://localhost:3000/api/usuarios').then((response) => {
        this.items = response.data;
        //console.log(this.items);
           
   }).catch((error) => {
        this.hasError = false
   })

  },
  methods: {

      eliminar(id){
          axios.delete('http://localhost:3000/api/usuarios/'+id).then((response) => {
              console.log(response)

          }).catch((err) => {
              console.log(err)
          })

      }
  }
}
</script>
